<%= form_with(model: vote, local: true) do |form| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= @questions[@count-1].question %></h2>
    <%= form.hidden_field :question_id, value:@count %>

    <table>
      <% @answers.each do |a| %>
      <tr>
        <td><%= form.label(:answer, a.answer, value: a.answer) %></td>
        <td><%= form.radio_button(:answer, a.answer) %></td>
      </tr>
      <% end %>
    </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
